# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/

# Env files
.env
.env.*

# Cache
.turbo/
.cache/

# Generated temporary files
*.generated.*